
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <style>
        a {
            color: #0c20d5;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>
<body>
        <a href="/">FlaskApp - Iris</a>
        <br><br>
        <div class="content">
            <form action="/data" method = "POST">
                <p>sepal length (cm) <input type = "text" name = "sepal length (cm)" /></p>
                <p>petal length (cm) <input type = "text" name = "petal length (cm)" /></p>
                <p><input type = "submit" value = "submit" /></p>
            </form>
        </div>

</body>
</html>